body{
    background-color: #f0f2f5;
    padding-bottom: 112px;
    padding-top: 50px;
    z-index: 1;

}

.maincontainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.column1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    min-height: 500px;
    margin: 0px 50px 0px 200px;
}

.column2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50%;
    text-align: center;
    min-height: 100%;
    margin: 0px 200px 0px 0px;

}

h1{
    color: #1877f2;
    font-family: Ubuntu;
    font-weight: 700;
    font-size: 50px;
    margin:5px;
}

h3{
    font-family: Ubuntu;
    font-weight: 400;
    font-size: 25px;
    margin: 5px;
}

h2{
    font-family: Ubuntu;
    font-weight: 700;
    font-size: 30px;
}

#loginform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 350px;
    min-height: 300px;
    box-shadow: 5px 5px 10px #d0d2d5;
}

#createaccount_button{
    background-color: #42b72a;
    color: white;
    border-radius: 5px;
    border-width: 1px;
    margin: 5px;
    width: 100%;
    padding: 14px 20px;
    font-family: Ubuntu;
    font-size: larger;
    font-weight: 400;
}

#createaccount_button:hover{
    background-color: #3eac28;
}

#signin_button{
    background-color: #1877f2;
    color: white;
    border-radius: 5px;
    border-width: 1px;
    margin: 5px;
    width: 100%;
    padding: 14px 20px;
    font-family: Ubuntu;
    font-size: larger;
    font-weight: 400;
}

#signin_button:hover{
    background-color: #186bd8;
}

#email1{
    border-radius: 5px;
    border-color: #f5f5f5;
    border-width: 1px;
    margin: 5px;
    width: 90%;
    padding: 14px 20px;
    font-family: Ubuntu;
    font-size: larger;
    background-color: white !important;
}

#email1:hover {
    border-color: #1773e9;
}

#password1{
    border-radius: 5px;
    border-color: #f5f5f5;
    border-width: 1px;
    margin: 5px;
    width: 90%;
    padding: 14px 20px;
    font-family: Ubuntu;
    font-size: larger;
    text-align: center;
}

#password1:hover{
    border-color: #1773e9;
}

input[type=text] {
    border-radius: 5px;
    border-color: #f5f5f5;
    border-width: 1px;
    margin: 5px;
    width: 60%;
    padding: 10px 15px;
    font-family: Ubuntu;
    font-size: medium; 
    background-color: #f5f6f7;
    text-align: center; 
}

#signup_form{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 600px;
    min-height: 300px;
    box-shadow: 5px 5px 10px #d0d2d5;
    z-index: 2;
    position: absolute;
    top: 10%;
    left: 25%;
    opacity: 1 !important;
}

.signup_row{
    display: flex;
    align-content: space-around;
    margin: 10px 15px;
}

#first_name{
}
#last_name{
}
#email2{
}
#password2{
}
#dob{
}
#country{
}
#city{
}
#street{
}
.input{
}

#signup_button{
    background-color: #42b72a;
    color: white;
    border-radius: 5px;
    border-width: 1px;
    margin: 15px;
    width: 130px;
    padding: 10px 20px;
    font-family: Ubuntu;
    font-size: larger;
    font-weight: 400;
}

#signup_button:hover{
    background-color: #3eac28;
}

#close_button{
    background-color: red;
    color: white;
    border-radius: 5px;
    border-width: 1px;
    margin: 15px;
    width: 130px;
    padding: 0px 20px;
    font-family: Ubuntu;
    font-size: larger;
    font-weight: 400;
}

#close_button:hover{
    background-color: #d70000;
}

.input {
    display: flex;
    justify-content: center;
}

.container2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup{
    
}

@media only screen and (max-width:1300px){

    .column1{
        margin: 0px 50px 0px 175px;
    }
    
    .column2{
        margin: 0px 175px 0px 0px;
    }
    #loginform{
        width: 345px;
    }

    #signup_form{
        left: 22%;
    }
}

@media only screen and (max-width:1200px){

    .column1{
        margin: 0px 50px 0px 150px;
    }
    
    .column2{
        margin: 0px 150px 0px 0px;
    }

    #loginform{
        width: 340px;
    }

    #signup_form{
        left: 19%;
    }
}
@media only screen and (max-width:1100px){

    .column1{
        margin: 0px 50px 0px 125px;
    }
    
    .column2{
        margin: 0px 125px 0px 0px;
    }

    #loginform{
        width: 335px;
    }

    #signup_form{
        left: 15%;
    }
}
@media only screen and (max-width:1000px){

    .column1{
        margin: 0px 50px 0px 100px;
    }
    
    .column2{
        margin: 0px 100px 0px 0px;
    }

    #loginform{
        width: 330px;
    }

    #signup_form{
        left: 10%;
    }

}

@media only screen and (max-width:900px){

    .maincontainer{
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }
    .column1{
        margin: 0px;
        text-align: center;
        justify-content: start;
        width: 70%;
        min-height: auto;
    }
    .column2{
        margin: 0px;
    }

    #loginform{
    width: 500px;
    margin-top: 50px;
    }
}

@media only screen and (max-width:850px){

    #signup_form{
    width: 550px;
    left:9%;
    }
}

@media only screen and (max-width:800px){

    #signup_form{
    width: 500px;
    left:7%;

    }
}

@media only screen and (max-width:750px){

    #signup_form{
    width: 450px;
    left:6%;

    }
}

@media only screen and (max-width:550px){

    #signup_form{
    width: 400px;
    left:5%;
    }
}